[submodule "Thirdparty/Love2dCS"]
	path = Thirdparty/Love2dCS
	url = git://github.com/Ruin0x11/Love2dCS.git
	branch = opennefia-net
[submodule "Thirdparty/CSharpRepl"]
	path = Thirdparty/CSharpRepl
	url = git://github.com/waf/CSharpRepl.git
[submodule "Thirdparty/megasource"]
	path = Thirdparty/megasource
	url = git://github.com/Ruin0x11/megasource.git
	branch = opennefia-net
[submodule "Thirdparty/odin-serializer"]
	path = Thirdparty/odin-serializer
	url = git://github.com/Ruin0x11/odin-serializer.git
	branch = ruin0x11/standalone-fixes
